zzvim-R.tex
zzvim-R.Rproj
zzvim-R.docx
zzvim-R.html
zzvim-R.md
zzvim-R.pdf
zzvim-R.aux
zzvim-R.lof
zzvim-R.log
zzvim-R.lot
zzvim-R.out
zzvim-R.toc
zzvim-R_files/
data/
cache/
.vimrc
.zshrc
sudoku_apple.pdf
preamble.tex
library.bib
